# <a href='https://www.youtube.com/@codeXudaya'><img src='CodeXudaya.png'/></a>
___
<center><em>Content Copyright by codeXudaya</em></center>

# Lecture 04
# Python Beginner to Expert

# Data Type conversion

Let's discuss the ways in which the conversion is handled.

* implicit
* explicit

# implicit
* Implicit conversion occurs automatically when the system recognizes that a data type needs to be converted to another type.
* This conversion is performed by the compiler or interpreter without any explicit instructions from the programmer.
* It is also known as "automatic conversion" because it happens implicitly during the execution of the program.

50.03

float

Integer to Float

In [3]:
a = 20 #int
b = 30.03 #floate
c = a+b
print(c)
type(c)

50.03

float

Integer Division

In [4]:
a = 20
b =3
c = a/b
type(c)

float

In [5]:
c

6.666666666666667

Boolean to Integer

In [6]:
a = True  #1
b = 3
c =a+b
print(c)

4

In [7]:
a = False #0
b = 3
c =a+b
print(c)

3

In [9]:
a = True  #1
b = 3.9
c =a+b
type(c)

float

# Explicit Conversion
* Explicit conversion, also known as type casting,
* requires the programmer to specify the conversion explicitly.
* The programmer uses special functions or syntax to perform explicit conversion.

Float to Integer

In [11]:
a = 3.3
b=int(a)
type(b)

print(b)

3

In [12]:
a = 3.3
a=int(a)
type(a)

print(a)

3

String to Integer

case 1

In [13]:
a = "88"
a = int(a)
print(a)
type(a)

88

int

case2

In [14]:
a = "code"
a = int(a)
print(a)
type(a)

ValueError: invalid literal for int() with base 10: 'code'

in the above case it will error as you can't covert 'code' to integer

Integer to String

In [ ]:
a = "88"
a = int(a)
print(a)
type(a)

List to Tuple

In [17]:
lst = [2,3,4]
print(type(lst))
lst=tuple(lst)
type(lst)

<class 'list'>

tuple

Integer to Boolean

In [20]:
a = 1  #int
a = bool(a)
type(a)

bool

Set to List

In [21]:
sett={2,3,4}
lst=list(sett)
type(lst)

list

Great! now We understand the `implicit` and `explicit` type conversion ...

# codeXudaya

[Subscribe to CodeXudaya on YouTube](https://www.youtube.com/@codeXudaya) 
-------------------------------------------------------------------------
[Follow CodeXudaya on Instagram](https://www.instagram.com/codexudaya/)
-------------------------------------------------------------------------