# <a href='https://www.youtube.com/@codeXudaya'><img src='CodeXudaya.png'/></a>
___
<center><em>Content Copyright by codeXudaya</em></center>

# Lecture 1 
# Python Beginner to Expert

# Introduction-----------------------------------
* Python is a high-level, interpreted programming language known for its readability and versatility.
* Guido van Rossum is the Father of Python
* Let's explore its history.
# History-------------------------------

## 1. The Beginning - 1989
- Guido van Rossum started working on Python in December 1989.
- Python 0.9.0 was released in February 1991.

## 2. Python 2 - 2000
- Python 2.0 was released in October 2000.
- It introduced list comprehensions, garbage collection, and Unicode support.

## 3. Python 3 - 2008
- Python 3.0 (also known as "Python 3000" and "Py3k") was released in December 2008.
- Key changes included a new syntax, better Unicode support, and various other improvements.
- However, it was not backward compatible with Python 2.

## 4. Jupyter Notebooks - 2014
- Project Jupyter was born out of IPython in 2014.
- Jupyter notebooks allow the combination of code, text, and multimedia in a single interactive document.

## 5. Python's Popularity
- Python has gained immense popularity in various domains, including web development, data science, machine learning, and more.
- It is known for its simplicity, readability, and a vast ecosystem of libraries.

## 6. Python 3.5+ - 2015 Onwards
- Python has continued to evolve with regular releases.
- Features like type hints (introduced in Python 3.5) and the `async` and `await` keywords have been added.

## 7. Python 3.9 - 2020
- Python 3.9, released in October 2020, included various optimizations and new features.

## 8. Current State - 2023
- As of 19 Nov 2023, the latest version of Python is 3.12.0.
-  which was released on 2 Oct 2023
# Conclusion
Python's history is a testament to its adaptability and community-driven development. Jupyter notebooks, with their interactive and multimedia capabilities, have become an integral part of the Python ecosystem.

# Basic Syntax-------------------------------------------

# Comment

single-line Comment #

In [12]:
#codeXudaya

multi-line Comment ''' '''

In [14]:
"""
code
x
udaya
"""

'\ncode\nx\nudaya\n'

# We'll learn the following topics in this lecture:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Object Assignment in Python

# Number in Python!
# Types of numbers
<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>10,12,-2</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>7.2,-0.21</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

In [15]:
# 20.2 67.7 99

### Basic Arithmetic

Addition +

In [16]:
2+3

5

Subtraction -

In [17]:
2-3

-1

Multiplication *

In [18]:
2*3

6

Division /

In [24]:
12/5

2.4

In [26]:
7/4

1.75

Floor Division //

In [23]:
12//5

2

In [27]:
7//4

1

remainder after division?
Modulo

In [25]:
7%4

3

In [1]:
4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

SyntaxError: invalid syntax (3263201935.py, line 1)

### Arithmetic continued ...

Powers **

In [28]:
2**3

8

In [29]:
4**8

65536

Can also do roots this way **0.5

In [30]:
100**0.5

10.0

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [31]:
a = 6

In [32]:
a

6

Now call a

In [33]:
a+a

12

add a+a

In [34]:
a=10

In [35]:
a

10

You can now use `a` in place of the number `10`:

In [36]:
a+90

100

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [38]:
a=80
a

80

In [39]:
a=60

In [40]:
a

60

Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [44]:
a=1
a=a+1
a

2

In [48]:
# +=
a+=1
a

6

In [49]:
a=4

In [6]:
# -= a-=1 ==== a=a-1

In [54]:
a-=1
a

-1

In [7]:
# *=

In [56]:
a=2
a*=2
a

4

In [8]:
# /=

In [57]:
a=2
a /= 2
a

1.0

# Simple Exercise
WAP ,my income is 200 my tax rate is 0.1 .calculate my tax?

In [59]:
my_income = 200
tax_rate = 0.1
tax = my_income * tax_rate
tax

20.0

Great! now We understand the basics of python including comments numbers variable assignment and reassignment in Python.<br>Up next, we'll learn ... in python

# codeXudaya

[Subscribe to CodeXudaya on YouTube](https://www.youtube.com/@codeXudaya) 
-------------------------------------------------------------------------
[Follow CodeXudaya on Instagram](https://www.instagram.com/codexudaya/)
-------------------------------------------------------------------------