# <a href='https://www.youtube.com/@codeXudaya'><img src='CodeXudaya.png'/></a>
___
<center><em>Content Copyright by codeXudaya</em></center>

# Lecture no - 7
# Python Beginner to Expert

# Strings

##### Strings in Python are sequences of characters enclosed in quotes. They support various operations and are immutable data types
#### USED FOR
* text processing,
* data manipulation,
* input/output operations
* defining textual information in programs

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Properties

# Creating a String

By using `Single` quotes

`Single Word`

In [1]:
'codexudaya'

'codexudaya'

`Entire Line`

In [3]:
a='code x udaya'

In [4]:
type(a)

str

N.B `Warning`

In [5]:
'i'm udaya'

SyntaxError: unterminated string literal (detected at line 1) (439433691.py, line 1)

Above `error` is because the single quote in `I'm` stopped the string.

Using `Double quotes`

In [6]:
"i'm udaya"

"i'm udaya"

In [7]:
"code x udaya"

'code x udaya'

**Great! we learn How to Create a String

Now let's learn about printing strings!

## Printing a String

IN Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display string is by using a print function.

In [8]:
'codex'

'codex'

In [9]:
print('codex')

codex

We can use a print statement to print a string.

In [10]:
print("code")
print("code x udaya")

code
code x udaya

use of `\n` for new line

In [12]:
print("code")
print("code \nx udaya")

code
code
x udaya

In [14]:
print("code")
print("code \nx udaya")
print('\n')
print("it's done")

code
code
x udaya


it's done

In [ ]:
**Great! we learn How to Print a String

## String Properties

Concatenation +

In [18]:
a = 'string1'
b = 'string2'
c = " "
print(a+b)
print('\n')
print(a+""+b)
print('\n')
print(a+" "+b)
print('\n')
print(a+c+b)

string1string2


string1string2


string1 string2


string1 string2

Replication *

In [20]:
a = 'str1'
print(a * 2)
print(a * 5)

str1str1
str1str1str1str1str1

# codeXudaya

[Subscribe to CodeXudaya on YouTube](https://www.youtube.com/@codeXudaya) 
-------------------------------------------------------------------------
[Follow CodeXudaya on Instagram](https://www.instagram.com/codexudaya/)
-------------------------------------------------------------------------