# <a href='https://www.youtube.com/@codeXudaya'><img src='CodeXudaya.png'/></a>
___
<center><em>Content Copyright by codeXudaya</em></center>

# Lecture no - 6 
# Python Beginner to Expert

# ---------------------Operators Part 2.

# Operators
* Arithmatic Operators
* Comparison Operators
* Logical Operators
* `Assignment Operators`
* `Membership Operators`
* `Identity Operators`

# Assignment Opeartor
* = (assignment) 
* +=, -=, *=, /= (compound assignment)

`= (assignment)`

* Assigns the value on the right to the variable on the left.

In [1]:
a = 10
a

10

In [2]:
b = 20
b

20

 `+=, -=, *=, /= (compound assignment)`

In [3]:
c = 30
c = c+5
print(c)

35

In [4]:
c = 30
c += 5
print(c)

35

In [5]:
c = 30
c = c * 5
print(c)

150

In [6]:
c = 30
c *= 5
print(c)

150

**Great! we learn assignment operator at it's best.

# Membership Operators 
* in 
* not in

`in`
* Returns True if a value is found in the sequence, False otherwise.

In [7]:
lst = [1,3,6,7,8]
3 in lst

True

In [8]:
lst = [1,3,6,7,8]
33 in lst

False

`not in`
* Returns True if a value is not found in the sequence, False otherwise

In [9]:
lst = [1,3,6,7,8]
3 not in lst

False

In [10]:
lst = [1,3,6,7,8]
33 not in lst

True

**Great! we learn membership operator at it's best.

# Identity Operators
* is
* is not

`is`
* Returns True if the variables on either side of the operator point to the same object, False otherwise.

In [11]:
a = [2,4,5]
b = a

a is b

True

In [12]:
a = [2,4,5]
b = [2,4,5]
a is b

False

In [13]:
a = [2,4,5]
id(a)

1225952366720

In [14]:
b = [2,4,5]
id(b)

1225953028480

`is not`
* Returns True if the variables on either side of the operator point to different objects, False otherwise

In [15]:
a = [2,4,5]
b = a

a is not b

False

In [16]:
a = [2,4,5]
b = [2,4,5]
a is not b

True

**Great! we learn Identity operator at it's best.

# codeXudaya

[Subscribe to CodeXudaya on YouTube](https://www.youtube.com/@codeXudaya) 
-------------------------------------------------------------------------
[Follow CodeXudaya on Instagram](https://www.instagram.com/codexudaya/)
-------------------------------------------------------------------------