# <a href='https://www.youtube.com/@codeXudaya'><img src='CodeXudaya.png'/></a>
___
<center><em>Content Copyright by codeXudaya</em></center>

# Lecture 03
# Python Beginner to Expert

# Print Function

## The `print` Statement

The `print` statement is used in Python to display the output of a program. It can be used to print strings, variables, and expressions.

In [5]:
print("codeXudaya")

codeXudaya

In [6]:
print('codeXudaya')

codeXudaya

In [7]:
a = "CXU"
print(a)

CXU

In [8]:
b = 'codeXudaya'

print(b)

codeXudaya

In [9]:
num1 = 20
num2 = 80
num3 = num1+num2

print(num3)

100

# Taking User Input

In [11]:
num = input("Enter a no :")
print(num)

type(num)

Enter a no :67
67

str

In [12]:
num = input("Enter a no :")
print(num)

type(num)

Enter a no :code
code

str

Type Conversion

In [14]:
num1 = int(input("Enter a no :"))
print(num1)

type(num1)

Enter a no :77
77

int

In [17]:
num1 = int(input("Enter a no :"))
print(num1)

type(num1)

Enter a no :66
66

int

so we see if `int` type conversion is assigned we can't use `float` or `str` values as input . it will show error

In [19]:
num1 = float(input("Enter a no :"))
print(num1)

type(num1)

Enter a no :77.77
77.77

float

In [20]:
num1 = float(input("Enter a no :"))
print(num1)

type(num1)

Enter a no :88
88.0

float

so we see if `float` type conversion is assigned we can't use `str` as input but can use `int`.

# let's combine print() and input()

In [21]:
age =21

# my age is 21

print('my age is',age)

my age is 21

# WAP to add two no by taking user input

In [23]:
no_one=int(input("Enter 1st no :"))
no_two=int(input("Enter 2nd no :"))

summ=no_one+no_two
print("result is ",summ)

Enter 1st no :4
Enter 2nd no :88
result is  92

# Exercise
WAP to substract two no by taking user input !! Comment me the solution to get a Heart From CodeXudaya .

Great! now We understand the print() Function and get know how to take user input ...

# codeXudaya

[Subscribe to CodeXudaya on YouTube](https://www.youtube.com/@codeXudaya) 
-------------------------------------------------------------------------
[Follow CodeXudaya on Instagram](https://www.instagram.com/codexudaya/)
-------------------------------------------------------------------------